<div class="container">
  <h1>Listing drinks</h1>
  <table>
    <thead>
      <tr>
        <th>Uid</th>
      </tr>
    </thead>
  
    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td><%= link_to drink.drink, controller: "drinks", action: "show", id: drink.uid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>