<div class="container-narrow">
  <div id="overview" class="row">
    <div id="glass" class="col-md-3">
      <% unless @drink.image %>
        <img src="/assets/glasses/<%= @drink.glass.uid %>.jpg" />
      <% else %>
        <img src="/assets/drinks/<%= @drink.uid %>.jpg" %>
      <% end %>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <h1><%= @drink.drink %></h1>
      <hr />
      <% if @drink.description %><p><%= raw @drink.description %></p><% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p><strong>Ingredients</strong></p>
      <ul>
      <% @drink.drink_ingredients.each do | ing | %>
        <li><%= raw ing.amount.amount %> <%= raw ing.ingredient.ingredient %></li>
      <% end %>
      </ul>
      <p><strong>Glass</strong></p>
      <p><%= @drink.glass.glass %></p>
    </div>
    <div class="col-md-8">
      <p><strong>Instructions</strong></p>
      <%= simple_format(@drink.instructions) %>
    </div>
  </div>
</div>