<div class="container">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>ShotMixer</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large">Learn more »</a></p>
  </div>

  <div class="body-content">

    <!-- Example row of columns -->
    <div class="row">
      <% @drinks.each do | drink | %>
      <div class="suggested col-md-4">
        <img src="/assets/drinks/<%= drink.uid %>.jpg" %>
        <h2><%= drink.drink %></h2>
        <p><%= truncate((raw drink.description), length: 175, omission: '...') %></p>
        <%= link_to "View details »", {controller: "drinks", action: "show", id: drink.uid}, :class => "btn btn-default"  %>
      </div>
      <% end %>
    </div>

    <hr>

    <footer>
      <p>© Company 2013</p>
    </footer>
  </div>

</div>