/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

body {
  padding: 60px 0 0 0;
}

.navbar-form {
  margin-top: 9px;
}

.navbar-brand {
  padding: 0px 15px !important;
}

#search {
  width: 290px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.suggested {
  h2 {
    font-size: 22px;
  }
  p {
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
  }
  img {
    height: 200px;
    float: left;
    margin-right: 20px;
  }
}

#overview {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}

  ul {
    padding: 0 15px !important;
  }


#glass {
  text-align: center;
  img {
    margin-bottom: 10px;
  }
}

#social {
  hr {
    margin: 5px auto;
  }
}