<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ShotMixer</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">

    <%= csrf_meta_tags %>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/icon.png" height="40" /></a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <form id="search" class="navbar-form form-inline pull-right" action="/search">
            <div class="input-group">
              <input type="text" class="form-control" id="q" name="q" />
              <span class="input-group-btn">
                <button id="submit-search" class="btn btn-default" type="button">Search</button>
              </span>
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>